<!DOCTYPE html>
 <html lang="en" ng-app="myapp" ng-controller = "MainController">

<head>

<meta charset="utf-8">
<meta name="robots" content="all,follow">
<meta name="googlebot" content="index,follow,snippet,archive">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Frame Your Memories">
<meta name="author" content="">
<meta name="keywords" content="">

<title>{{title}}</title>


<!-- <link href='http://fonts.googleapis.com/css\?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'> -->

<!-- styles -->
<link href="assets/css/font-awesome.css" rel="stylesheet">
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/animate.min.css" rel="stylesheet">
<link href="assets/css/owl.carousel.css" rel="stylesheet">
<link href="assets/css/owl.theme.css" rel="stylesheet">

<!-- theme stylesheet -->
<link ng-href="assets/css/style.{{appStyle}}.css" rel="stylesheet"
	id="theme-stylesheet">

<!-- your stylesheet with modifications -->
<link href="assets/css/custom.css" rel="stylesheet">

<script src="assets/js/respond.min.js"></script>

<!-- <link rel="shortcut icon" href="favicon.png"> -->

<!-- AngularJS -->
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-ui-router.min.js"></script>
<script src="assets/js/angular-breadcrumb.min.js"></script>

</head>

<body>
	<!-- *** TOPBAR ***
 _________________________________________________________ -->
	<div id="top">
		<div class="container">
			<div class="col-md-6 offer">
				<a href="#" class="btn btn-success btn-sm">Offer of the day</a> <a href="#">Get
					flat 35% off on orders over $50!</a>
			</div>
			<div class="col-md-6">
				<span class="message">{{visitor.message}}</span>
				<ul class="menu">
					<!-- <li><a href="#">{{visitor.message}}</a>
					</li> -->
					<li ng-if="visitor.isCustomer == 'false'"><a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
					</li>
					<li ng-if="visitor.isCustomer == 'true'"><a href="#" data-toggle="modal" data-target="#login-modal">Logout</a>
					</li>
					<li ng-if="visitor.isCustomer == 'false'"><a href="register.html">Register</a></li>
					<li><a href="#Contact">Contact</a></li>
					<li><a href="#">Recently viewed</a></li>
				</ul>
			</div>
		</div>
		<div class="modal fade" id="login-modal" tabindex="-1" role="dialog"
			aria-labelledby="Login" aria-hidden="true">
			<div class="modal-dialog modal-sm">

				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="Login">Customer login</h4>
					</div>
					<div class="modal-body">
						
							<div class="form-group">
								<input type="text" ng-model = "user.username" class="form-control" id="email-modal"
									placeholder="email">
							</div>
							<div class="form-group">
								<input type="password" ng-model = "user.password" class="form-control" id="password-modal"
									placeholder="password">
							</div>

							<p class="text-center">
								<button class="btn btn-primary" ng-click ="authenticate()">
									<i class="fa fa-sign-in"></i> Log in
								</button>
							</p>

						

						<p class="text-center text-muted">Not registered yet?</p>
						<p class="text-center text-muted">
							<a href="register.html"><strong>Register now</strong></a>! It is
							easy and done in 1&nbsp;minute and gives you access to special
							discounts and much more!
						</p>

					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- *** TOP BAR END *** -->

	<!-- *** NAVBAR ***
 _________________________________________________________ -->

	<div class="navbar navbar-default yamm" role="navigation" id="navbar">
		<div class="container">
			<div class="navbar-header">

				<a class="navbar-brand home" href="#Home"> <!--  <img src="../../..assets/img/logo.png" alt="Obaju logo" class="hidden-xs">
                    <img src="../../..assets/img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Frame Your Memories</span> -->
				</a>
				<div class="navbar-buttons">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#navigation">
						<span class="sr-only">Toggle navigation</span> <i
							class="fa fa-align-justify"></i>
					</button>
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#search">
						<span class="sr-only">Toggle search</span> <i class="fa fa-search"></i>
					</button>					
				</div>
			</div>
			<!--/.navbar-header -->

			<div class="navbar-collapse collapse" id="navigation">

				<ul class="nav navbar-nav navbar-left">
					<li class="active"><a href="#Home">Home</a></li>
					<li class="dropdown yamm-fw"><a href="#category"
						class="dropdown-toggle" data-toggle="dropdown"
						data-hover="dropdown">Categories <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<div class="yamm-content">
									<div class="row">
										<div class="col-sm-3" ng-repeat="category in categories">
											<h5>{{category.category}}</h5>
											<ul>
												<li ng-repeat="subCategory in category.values"
													ng-click="filters.category = subCategory.name"><a
													href="#category">{{subCategory.name}}</a></li>
											</ul>
										</div>
									</div>
								</div> <!-- /.yamm-content -->
							</li>
						</ul></li>
				</ul>

			</div>
			<!--/.nav-collapse -->

			<div class="navbar-buttons">

				<div class="navbar-collapse collapse right" id="basket-overview">
					<a href="#cart" class="btn btn-primary navbar-btn"><i
						class="fa fa-shopping-cart"></i><span class="hidden-sm">
							{{cart.getTotalCount()}} items in cart {{cart.getTotalPrice() | currency}}</span></a>
				</div>
				<!--/.nav-collapse -->

				<div class="navbar-collapse collapse right" id="search-not-mobile">
					<button type="button" class="btn navbar-btn btn-primary"
						data-toggle="collapse" data-target="#search">
						<span class="sr-only">Toggle search</span> <i class="fa fa-search"></i>
					</button>
				</div>

			</div>

			<div class="collapse clearfix" id="search">

				<form class="navbar-form" role="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search">
						<span class="input-group-btn">

							<button type="submit" class="btn btn-primary">
								<i class="fa fa-search"></i>
							</button>

						</span>
					</div>
				</form>

			</div>
			<!--/.nav-collapse -->

		</div>
		<!-- /.container -->
	</div>
	<!-- /#navbar -->

	<!-- *** NAVBAR END *** -->



	<div id="all">
		<div ui-view></div>

		<!-- /#content -->

		<!-- *** FOOTER ***
 _________________________________________________________ -->
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<h4>Pages</h4>

						<ul>
							<li><a href="text.html">About us</a></li>
							<li><a href="text.html">Terms and conditions</a></li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="#Contact">Contact us</a></li>
						</ul>
					</div>
					<!-- /.col-md-3 -->

					<div class="col-md-3 col-sm-6">

						<h4>Where to find us</h4>

						<p>
							<strong>Frames4u</strong> <br>Bangur Avenue <br>Kolkata
							<br> <strong>India</strong>
						</p>

						<hr>
						
						<a href="#Contact">Go to contact page</a>

					</div>
					<!-- /.col-md-3 -->


					<div class="col-md-3 col-sm-6">

						<h4>Get the news</h4>

						<p class="text-muted">News Information.</p>

						<form>
							<div class="input-group">

								<input type="text" class="form-control"> <span
									class="input-group-btn">

									<button class="btn btn-default" type="button">Subscribe!</button>

								</span>

							</div>
							<!-- /input-group -->
						</form>
						
					</div>
					
					<div class="col-md-3 col-sm-6">

						<h4>Stay in touch</h4>


						<div class="social">
						<div fb-like class="facebook external" data-animate-hover="shake">
							<i class="fa fa-facebook"></i>
						</div>

						<div tweet="myModel.Name" class="twitter external"
							data-animate-hover="shake">
							<i class="fa fa-twitter"></i>
						</div>

						<div google-plus class="gplus external" data-animate-hover="shake">
							<i class="fa fa-google-plus"></i>
						</div>
						<div>
					</div>
					<!-- /.col-md-3 -->

				</div>
				<!-- /.row -->
				</div>
				</div>
			</div>
			<!-- /.container -->
		</div>
		<!-- /#footer -->

		<!-- *** FOOTER END *** -->




		<!-- *** COPYRIGHT ***
 _________________________________________________________ -->
		<div id="copyright">
			<div class="container">
				<div class="col-md-6">
					<p class="pull-left">Copyright Information</p>

				</div>
				<div class="col-md-6">
					<p class="pull-right">
						Website Owner Information
						<!-- Not removing these links is part of the licence conditions of the template. Thanks for understanding :) -->
					</p>
				</div>
			</div>
		</div>
		<!-- *** COPYRIGHT END *** -->



	</div>
	<!-- /#all -->




	<!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.cookie.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/modernizr.js"></script>
    <script src="assets/js/bootstrap-hover-dropdown.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/front.js"></script>
     <script src="assets/js/angulike.js"></script>
     <script src="assets/js/imageZoomApp.js"></script>

	<!-- Module -->
    <script src="app/app.js"></script>
        
    <!-- Controllers -->
    <script src="app/components/store/MainController.js"></script>
    <script src="app/components/store/ProductController.js"></script>
    <script src="app/components/store/ProductDetailController.js"></script>
    <script src="app/components/contact/ContactController.js"></script>
    <script src="app/components/cart/CartController.js"></script>
	
	<!-- Services -->
	<script src="app/shared/services/ProductService.js"></script>

</body>

</html>