         <div id="content">

            <div class="container">
                <div class="col-md-9">
                    <div id="main-slider">
                        <div class="item" ng-repeat = "slider in mainSliders">
                            <img ng-src="{{bannerImagePath}}{{slider.source}}" alt="" class="img-responsive">
                        </div>
                    </div>
                    <!-- /#main-slider -->
                </div>
            </div>
            
            <!-- *** ADVANTAGES HOMEPAGE ***
 _________________________________________________________ -->
            <div id="advantages">

                <div class="container">
                    <div class="same-height-row">
                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon"><i class="fa fa-heart"></i>
                                </div>

                                <h3><a href="#">We love our customers</a></h3>
                                <p>We are known to provide best possible service ever</p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon"><i class="fa fa-tags"></i>
                                </div>

                                <h3><a href="#">Best prices</a></h3>
                                <p>You can check that the height of the boxes adjust when longer text like this one is used in one of them.</p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon"><i class="fa fa-thumbs-up"></i>
                                </div>

                                <h3><a href="#">100% satisfaction guaranteed</a></h3>
                                <p>Free returns on everything for 3 months.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container -->

            </div>
            <!-- /#advantages -->

            <!-- *** ADVANTAGES END *** -->

			
			
            <!-- *** GET INSPIRED END *** -->

            <!-- *** BLOG HOMEPAGE ***
 _________________________________________________________ -->


           
            <!-- *** HOT PRODUCT SLIDESHOW ***
 _________________________________________________________ -->
            <div id="hot">

                <div class="box">
                    <div class="container">
                        <div class="col-md-12">
                            <h2>Hot this week</h2>
                        </div>
                    </div>
                </div>

                <div class="container">
                     <div class="product-slider">
                        <div class="item" ng-repeat = "product in products" on-finish-render="">
                            <div class="product">
                                <a  ui-sref="Detail({productID: product.id})">
                                    <img ng-src="{{imagePath}}{{product.id}}{{imageExtension}}" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a ui-sref="Detail({productID: product.id})" >{{product.description}}</a></h3>
                                    <p>{{product.category}}</p>
                                    <p class="price">{{product.price | currency}}</p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>
                    </div>
 
                    <!-- /.product-slider -->
                </div>
                <!-- /.container -->

            
            

      	    </div>
            <!-- /#hot -->

            <!-- *** HOT END *** -->
            
           </div>
            