        <div id="content">
            <div class="container">

                <div ncy-breadcrumb></div>

                <div class="col-md-12">

                    <div class="row" id="productMain">                        
                        <div class="col-sm-6">
                        	<div id="mainImage">
                            	<!-- <zoom mark-height="70" mark-width="70" src="{{src}}" zoom-lvl="{{zoomLvl}}"></zoom> -->
                            	<img ng-src="{{imagePath}}{{product.id}}{{imageExtension}}" alt="" class="img-responsive">
                            </div>

                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->
                          <!-- <div class="row" id="thumbs">
                              <div class="col-xs-4">
                                  <a href="../../../assets/img/detailbig1.jpg" class="thumb">
                                      <img ng-src="{{contextPath}}/assets/img/detailsquare.jpg" alt="" class="img-responsive">
                                  </a>
                              </div>
                              <div class="col-xs-4">
                                  <a href="../../../assets/img/detailbig2.jpg" class="thumb">
                                      <img ng-src="{{contextPath}}/assets/img/detailsquare2.jpg" alt="" class="img-responsive">
                                  </a>
                              </div>
                              <div class="col-xs-4">
                                  <a href="../../../assets/img/detailbig3.jpg" class="thumb">
                                      <img ng-src="{{contextPath}}/assets/img/detailsquare3.jpg" alt="" class="img-responsive">
                                  </a>
                              </div>
                          </div> -->
                        </div>
                        <div class="col-sm-6">
	                        <div class="box">
	                                <h3 class="text-center">{{product.name}}</h1>
		                            <a href="" ng-click="scrollTo('details')">{{product.shortDescription}}</a>
	                                <h4 class="text-center">{{product.price | currency}}</h4>
		                            <hr>                                
	
	                                <p class="text-center buttons">
	                                    <a href="" ng-click="cart.addItem(product.id, product.name, product.price, 1)" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</a> 
	                                    <a href="basket.html" class="btn btn-default"><i class="fa fa-heart"></i> Add to wishlist</a>
	                                </p>
	                          </div>
                        </div>

                    </div>


                    <div class="box" id="details">
                       
                            <h4>Product details</h4>
                            <p>{{product.description}}</p>
                            <blockquote>
                            <h4>Features:</h4>
                            <ul>
                            	<li ng-repeat = "feature in product.features">
                            		{{feature}}
                            	</li>
                            </ul>
                            </blockquote>
                            <hr>
                            <div class="social">
                                <h4>Show it to your friends</h4>
                                <p>
		                            <div fb-like class="facebook external" data-animate-hover="pulse"><i class="fa fa-facebook"></i></div>
		                        
		                            <div tweet="myModel.Name" class="twitter external" data-animate-hover="pulse"><i class="fa fa-twitter"></i></div>
		                          
		                            <div google-plus class="gplus external" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></div>
		                         
                                </p>
                            
                 		   </div>

                </div>
                <!-- box -->
            </div>
            <!-- /.col-md-12 -->        
        </div>
        <!-- /.container -->
</div>
<!-- /#content -->