        <div id="content">
            <div class="container">

                <div ncy-breadcrumb></div>

                <div class="col-md-12">

                    <div class="row" id="productMain">
                        <div class="col-sm-6">
                        
                            <div id="mainImage">
                            <zoom mark-height="70" mark-width="70" src="{{src}}" zoom-lvl="{{zoomLvl}}"></zoom>
                                <!-- <img src="../../../assets/img/detailbig1.jpg" alt="" class="img-responsive"> -->
                            </div>

                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                        </div>
                        <div class="col-sm-6">
                            <div class="box">
                                <h1 class="text-center">{{product.name}}</h1>
                                <p class="goToDescription"><a href="#details" class="scroll-to"> {{product.description}}</a>
                                </p>
                                <p class="price">{{product.price | currency}}</p>

                                <p class="text-center buttons">
                                    <a href="" ng-click="cart.addItem(product.id, product.name, product.price, 1)" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</a> 
                                    <a href="basket.html" class="btn btn-default"><i class="fa fa-heart"></i> Add to wishlist</a>
                                </p>


                            </div>

                            <div class="row" id="thumbs">
                                <div class="col-xs-4">
                                    <a href="../../../assets/img/detailbig1.jpg" class="thumb">
                                        <img ng-src="{{contextPath}}/assets/img/detailsquare.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="../../../assets/img/detailbig2.jpg" class="thumb">
                                        <img ng-src="{{contextPath}}/assets/img/detailsquare2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="../../../assets/img/detailbig3.jpg" class="thumb">
                                        <img ng-src="{{contextPath}}/assets/img/detailsquare3.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="box" id="details">
                       
                            <h4>Product details</h4>
                            <p>White lace top, woven, has a round neck, short sleeves, has knitted lining attached</p>
                            <h4>Material & care</h4>
                            <ul>
                                <li>Polyester</li>
                                <li>Machine wash</li>
                            </ul>
                            <h4>Size & Fit</h4>
                            <ul>
                                <li>Regular fit</li>
                                <li>The model (height 5'8" and chest 33") is wearing a size S</li>
                            </ul>

                            <blockquote>
                                <p><em>Define style this season with Armani's new range of trendy tops, crafted with intricate details. Create a chic statement look by teaming this lace number with skinny jeans and pumps.</em>
                                </p>
                            </blockquote>

                            <hr>
                            <div class="social">
                                <h4>Show it to your friends</h4>
                                <p>
		                            <div fb-like class="facebook external" data-animate-hover="pulse"><i class="fa fa-facebook"></i></div>
		                        
		                            <div tweet="myModel.Name" class="twitter external" data-animate-hover="pulse"><i class="fa fa-twitter"></i></div>
		                          
		                            <div google-plus class="gplus external" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></div>
		                         
                                </p>
                            
                 		   </div>

                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

